body{
    font-family: Arial, sans-serif;
    background:#0f172a;
    color:white;
    padding:20px;
}

h1{
    margin-bottom:10px;
}

input{
    padding:10px;
    border-radius:8px;
    border:none;
    margin-bottom:20px;
    width:250px;
}

#categories{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    margin-bottom:20px;
}

.categoryBtn{
    padding:6px 12px;
    background:#1e293b;
    border-radius:6px;
    cursor:pointer;
    font-size:14px;
}

.categoryBtn.active{
    background:#334155;
}

#emojiContainer{
    display:grid;
    grid-template-columns: repeat(auto-fill, 50px);
    gap:10px;
}

.emojiBox{
    font-size:26px;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#1e293b;
    border-radius:8px;
    cursor:pointer;
    transition:0.1s;
}

.emojiBox:hover{
    background:#334155;
    transform:scale(1.15);
}